<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | 모두의 문화생활</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <iframe src="../navbar.html" onload="this.before((this.contentDocument.body || this.contentDocument).children[0]); this.remove()"></iframe>
  <header class="text-black text-center header-container" style="background-color: white; color: black;">
    <div class="background-image"></div>
    <div class="container">
      <h1 class="display-4">상세 페이지</h1>
      <p class="lead">찾으신 컨텐츠의 상세정보를 확인해 보세요.</p>
    </divii>
</header>



  <!-- Add this div for the scrolling effect -->
  
  
  
    <!-- 기획 배경 -->
    <section class="about-content text-center">
        <p><br><br><br>
            상세페이지 내용<br>기관명<br>장소<br>포스터 사진<br>등
        </p>
    </section>
   <div class="container my-5">
    <!-- 공공데이터 활용 -->
    <section class="about-content text-center" style="margin-bottom: 40px;">
        <h1><br><br>후기작성 </h1><br>
        
        <span class="subtext">
          다른 사람들의 후기</span>
            
  </section>
  </div>
  



  <footer class="text-white text-center py-3">
    <p>&copy; 2023 모두의 문화생활. All rights reserved.</p>
  </footer>

  <!-- Bootstrap JS (optional, for some components) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
  <script>
    const parallaxText = document.querySelector('.parallax-text');
    const aboutContent = document.querySelector('.about-content');

    function updateParallaxTextPosition() {
      const viewportHeight = window.innerHeight;
      const parallaxTextHeight = parallaxText.clientHeight;
      const aboutContentHeight = aboutContent.clientHeight;
      const marginTop = (viewportHeight - parallaxTextHeight) / 2;
      const aboutContentBottom = aboutContent.getBoundingClientRect().bottom;

      if (aboutContentBottom > viewportHeight / 2) {
        parallaxText.style.marginTop = `${marginTop}px`;
      } else {
        // Make the text appear in the middle as user scrolls down
        const distanceFromMiddle = viewportHeight / 2 - aboutContentBottom;
        parallaxText.style.marginTop = `${marginTop + distanceFromMiddle}px`;
      }
    }

    window.addEventListener('scroll', updateParallaxTextPosition);
    window.addEventListener('resize', updateParallaxTextPosition);
    updateParallaxTextPosition();
  </script>
</body>
</html>
