@font-face {
  font-family: 'TextFont';
  src: url('/fonts/text_font.ttf') format('truetype');
}
@font-face {
    font-family: 'TitleFont';
    src: url('/fonts/title_font.ttf') format('truetype'); 
  }
body {
    background-color: #f7f7f7;
    font-family: 'TitleFont', Arial, sans-serif;
  }

.navbar {
    background-color: #ffffff; /* Change to white background */
    padding: 20px;
    font-family: 'TitleFont', Arial, sans-serif;
    
}

.navbar-brand, .nav-link {
    color: #000000; /* Set text color to black */
    font-family: 'TitleFont', Arial, sans-serif;
}
.nav-link.active {
    font-weight: bold;
}
.navbar-brand:hover, .nav-link:hover {
    color: #000000 !important;
}

/* Rest of the existing styles */

  
  header {
    background-color: #3498db;
    color: #ffffff;
    padding: 80px 0;
  }
  
  section {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card {
    margin-bottom: 15px;
  }
  
  .contact-card h5 {
    color: #333333;
  }
  
  .contact-card p {
    color: #555555;
  }
  
  .contact-card a {
    color: #3498db;
  }
  
  .contact-card a:hover {
    color: #f39c12;
  }
  
  footer {
    background-color: #343a40;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  .subtext {
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: lighter; /* Adjust the font weight as needed */
}
a {
  color: black;
}
a:visited {
  color: black;
}
/* Add this CSS for the scrolling effect */
.parallax {
  background-image: url('about.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2em;
}
.parallax-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: white;
  animation: slideIn 2s ease forwards;
}
.details {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'TextFont', serif;
}
.animated-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: white;
  animation: slideIn 2s ease forwards;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.search-box {
  width: 50%;
  text-align: center;
  font-family: 'TitleFont', Arial, sans-serif;
  font-size: 24px;
  padding: 20px;
  margin: 0 auto;
}

.category-filter {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 20px;
  background-color: #f7f7f7;
  overflow-y: auto;
  font-family: 'TitleFont', Arial, sans-serif;
  z-index: 999;
}

.category-filter label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.category-filter input {
  margin-right: 10px;
}

.search-results {
  padding: 20px;
  /* margin-left: 30px;  */
}


.search-results h3 {
  font-family: 'TitleFont', Arial, sans-serif;
}

.search-results p {
  font-family: 'TextFont', Arial, sans-serif;
}
.card-title a:hover {
  color: orange; 
  text-decoration: none;
}
.notice-banner {
  background-image: url('notice.jpeg'); 
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px;
  text-align: center;
  animation: moveBackground 15s linear infinite alternate; 
  font-size: 40px; /* Adjust the font size */
  height: 380px;
}
.search-banner {
  background-image: url('search.jpg'); 
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 95px;
  text-align: center;
  font-size: 40px; /* Adjust the font size */
  height: 380px;
}
.search-banner h1 {
  font-size: 2.5em; /* Adjust the font size for h1 */
}

.notice-banner h1 {
  font-size: 2.5em; /* Adjust the font size for h1 */
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Header와의 간격 조절 */
  width: 100%; /* .filter 요소의 너비를 100%로 설정 */
}

.column {
  flex: 1;
  margin-right: 10px;
  margin-top : 20px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열로 배치 */
  gap: 3px; /* 간격 설정 */
  font-family:  'TextFont';
}
/* 지역 선택 및 행사 종류 카테고리 스타일 */
.category {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.category h2{
  font-size: 16px; 
}

.card {
  margin-bottom: 10px; /* 카드뷰 사이의 간격을 조절합니다. */
}

@media (min-width: 768px) {
  .filter {
      flex-direction: row; /* 화면 폭이 768px 이상일 때, 가로로 배치합니다 */
  }

  .column {
      flex: 0 0 20%; /* 화면 폭이 768px 이상일 때, 컬럼을 30% 너비로 고정합니다 */
  }

  /* .checkbox-grid {
      column-count: 1; 
  } */
}

@keyframes moveBackground {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
